#heading {
    text-transform: uppercase;
    color: #7638F9;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #7638F9;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #7638F9;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #311B92
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.cardstep {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #7638F9;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #7638F9;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #7638F9
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}


#progressbar #RequirementsPermissions:before {
    font-family: Bootstrap-icons;
    content: "\f151"
}

#progressbar #DatabaseImport:before {
    font-family: Bootstrap-icons;
    content: "\F8AF"
}


#progressbar #account:before {
    font-family: Bootstrap-icons;
    content: "\F4D7"
}

#progressbar #confirm:before {
    font-family: Bootstrap-icons;
    content: "\F26B"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #7638F9
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #7638F9
}

.fit-image {
    height: 190px;
    width: auto;
    margin-bottom: 50px;
}

form {
    margin-bottom: 50px !important;
}

.card-footer {
    background-color: #F3F3FF;
}

.btn-primary {
    --bs-btn-bg: #7638F9;
    --bs-btn-border-color: #7638F9;
}

.btn:hover {
    color: #7638F9 !important;
    background-color: #f8f9fa !important;
    border-color: #7638F9 !important;
}

.form-control:focus {
    border-color: #673ab7;
    box-shadow: 0 0 0 0.25rem rgb(103 58 183 / 5%);
}

.finish a {
    color: rgb(29, 29, 241);
}

.cs_center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.footerHome {
    padding: 7px 11px 7px 0px !important;
    border-radius: 4px !important;
}

select.decorated option:hover {
    background-color: #673ab7 !important;
}

option:checked,
option:hover,
select option[selected] {
    color: white !important;
    background-color: #673ab7 !important;
}


.select_error {
    font-size: .875em;
}

.select_error_border {
    border-color: #dc3545;
}

.text-bg-success{
    background-color: #29C639 !important;
}

.text-success
{
    color: #29C639 !important;
}

.text-bg-danger{
    background-color: #FB3B4E !important;
}
